<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new user</title>
</head>
<body>
    <h1> detail of new user </h1>
    <form method="post" action="/users/adduser">
        ID:<br>
        <input name="id"><br>
        EMAIL:<br>
        <textarea name="email" placeholder="enter your email"></textarea><br>
        USERNAME:<br>
        <textarea name="username" placeholder="enter your username"></textarea><br>
        PASSWORD:<br>
        <input name="password" type="password" placeholder="set your password"><br><br><br>
        <button>ADD</button>
    </form>
</body>
</html>